{% extends "base.html" %}

{% block content %}
<div class="readingSection">
    <h1 id="readingHeader">Books You're Currently Reading!</h1>
    {% for book in books %}
        <div class="book_items">
            <div class="bookDetails">
                <img src="https://covers.openlibrary.org/b/id/{{ book.thumbnail }}-L.jpg" alt="{{ book.title }}" class="homeThumbnail">
                <p id="bookTitle">{{ book.title }}</p>
                <p class="bookInfo">Author: {{ book.author }}</p>
                <p class="bookInfo">Rating: {{ book.rating }}</p>
                <p class="bookInfo">Progress:  {{ book.progress }} / {{ book.total_pages }} ({{ ((book.progress / book.total_pages) * 100) | int }}%)</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}